################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/qwen359b-visitngcardscan
/obj
/qwen359b-visitngcardscan.slnLaunch.user
/.vs
